{% extends 'base.html' %}
{% block title %}About
{% endblock title %}
{% block body %}
<div class="container my-4">

    <img src="/static/img/16.jpg" class="d-block w-100  mx-10 my-10" alt="...">
    <h3 style="position: absolute; top:100px; right: 1040px; color:white; "> About</h3>
    <p  style="color:white; position: absolute; top:200px; ">  &emsp;Hi,<br>
         &emsp;My name is Piyush Bhardwaj.  I am a third-year Computer Science B-Tech student.<br>  &emsp;Python is a language that I am familiar with the most.<br>  &emsp;This website has been created using Python, Django, CSS and HTML.<br> &emsp;The website is based on an art exhibition. You can view the numerous styles of my artwork.</p>

    
</div>
{% endblock body %}
